{% extends "base.html" %}

{% block title %}{{ _('Internal Server Error') }} - {{ super() }}{% endblock %}

{% block page_content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-1">{{ _('500') }}</h1>
            <h2>{{ _('Oops! Something Went Wrong.') }}</h2>
            <p class="lead">
                {{ _("We are sorry, but our server encountered an internal error and was unable to complete your request.") }}
            </p>
            <p>
                {{ _("This issue has been logged, and our team is working to fix it. Please try again later.") }}
            </p>
            <hr class="my-4">
            <p>
                {{ _('You can go back to the homepage.') }}
            </p>
            <a href="{{ url_for('main.index') }}" class="btn btn-primary btn-lg">{{ _('Go to Homepage') }}</a>
        </div>
    </div>
</div>
{% endblock %}
